@import '../base/variables';

.bgHome{
     width: 100%;
     height: 100vh;
     background-size: cover;
     // background-image: url('../../assets/img/AdobeStock.png');
     .boxText{
          margin-top: 10%;
     }
}

.title{
     margin-top: 5%;
     margin-bottom: 4%;
     color: $Color-secondary-100;
     transform: matrix(120deg)
}

.selectBox, .sortCatalog{
     @include flexBetween;

     .btnRedFixHeigth{
          height: 50%;
     }

     .fixingBox{
          height: 10vh;
          width: 14%;
     
          ::-webkit-scrollbar {
               width: 0 !important;
               height: 0 !important;
          }

          .mySelect{
               overflow: auto;
               border-radius: 10px;
               padding: 5%;
               background-color: #E5E5E5 !important;
               border: $Color-secondary-300 2px solid !important ;
               z-index: 4;
          
               .mySelectRow{
                    @include flexBetween;
                    flex-direction: row;
               }
        
          }
          .mySelectTransform{
               position: absolute !important;
               padding: 0.5%;
               height: 40vh;
               width: 12%;
          }
     }
}

.rotateContent{
     display: inline-block;
}

.contentSelectHiden{
     display: none;
     transition: all 0.3s;
}

.contentSelectHiden:hover{
     color: $Color-primary-300 !important;
}

.dispBlock{
     display: block;
}

.selectSort{
     border: none;
     background-color: #E5E5E5 !important;
}

.selctOption{
     border: none !important;
     background-color: #E5E5E5 !important;
     border-radius: 10px !important;
     outline: none !important;
}

.selctOption:hover{
     background-color: red !important;
}

.containerSelectSort{
     display: none;
}

.activeTransform{
     transform: rotate(180deg);
}

.activeSort{
     display: block;
     position: absolute;
     margin-left: 4%;
     border-radius: 10px;
     padding: 1%;
     border: 1px solid $Color-secondary-200;
     background: $Color-secondary-500;
     z-index: 2;
}

.checkbox{
     margin-right: 1%;
}

.checktext, .checktextNew{
     color: $Color-secondary-200;
     display: contents;
     transition: all 0.3s;
}

.checktextNew:hover{
     color: $Color-primary-300 !important;
}

.sortTextHover{
     color: $Color-secondary-200 !important;
     transition: all 0.3s;

}

.sortTextHover:hover{
     color: $Color-primary-300 !important;
}

.vector{
     position: relative;
     left: 45%;
     bottom: 1vh;
}

.catalog{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     .car{
          min-height: 40vh;
          display: flex;
          width: 23%;
          flex-direction: column;
          background-color: $Color-secondary-500;
          margin: 1%;   
          :hover{
               opacity: 90%;
          }
          .yearCar{
               color: $Color-secondary-200;
          }
          .info{
               font-size: 70%;
               color: $Color-secondary-200;
          }          
          p{
               padding-left: 2%;
          }
          .bgimg{
               width: 100%;
               height: 30vh;
               background-repeat: no-repeat;
               background-size: 100% auto;
          }
     }
}

.disebletCar{
     color: $Color-secondary-200 !important;
}

.disebledCarSold{
     position: relative;
     color: $Color-secondary-500;
     top: 15%;
     left: 30%;
     font-size: 400% !important;
}

.checkbox-first__label{
     cursor: pointer;
     user-select: none;
}
.checkbox-first__label input:checked + .checkbox {
     border-color: $Color-secondary-200;
}
.checkbox-first__label .checkbox svg {
     position: absolute;
     top: -2px;
     left: -2px;
}
.checkbox-first__label input:checked + .checkbox svg path {
     fill: $Color-primary-300;
}
.checkbox-first__label input:checked + .checkbox svg polyline {
     stroke-dashoffset: 0;
}
.checkbox-first__label:hover .checkbox svg path {
     stroke-dashoffset: 0;
}
.checkbox-first__label .checkbox {
     position: relative;
     top: 2px;
     float: left;
     width: 20px;
     height: 20px;
     margin-right: 8px;
     border-radius: 3px;
     border: 2px solid #c8ccd4;
}
.checkbox-first__label .checkbox svg {
     position: absolute;
     top: -2px;
     left: -2px;
}
.checkbox-first__label .checkbox svg path {
     fill: none;
     stroke-width: 2;
     stroke-linecap: round;
     stroke-linejoin: round;
     stroke-dasharray: 71px;
     stroke-dashoffset: 71px;
     transition: all 0.6s ease;
}
.checkbox-first__label .checkbox svg polyline {
     fill: none;
     stroke: #fff;
     stroke-width: 2;
     stroke-linecap: round;
     stroke-linejoin: round;
     stroke-dasharray: 18px;
     stroke-dashoffset: 18px;
     transition: all 0.3s ease;
}
.checkbox-first__label > span {
     pointer-events: none;
     vertical-align: middle;
}
.checkbox {
     position: relative;
     top: 2px;
     float: left;
     width: 20px;
     height: 20px;
     margin-right: 8px;
     border-radius: 3px;
     border: 2px solid #c8ccd4;
}
.checkbox-first__input {
     position: absolute;
     width: 0;
     height: 0;
     opacity: 0;
     z-index: -1;
}

   

